@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #95d904;
  --black: #19223c;
  --blue: #04c4d9;
  --opaque-green: #04bf9d;

  --primary-color: var(--green);
  --secondary-color: var(--black);
  --background-color: var(--black);
  --foreground-color: #f2f2dc;
}

body {
  background-color: var(--foreground-color);
  color: var(--secondary-color);
}
